@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.container{
    height: 1000px;
    /* width: 1200px */
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2,696px);
    

}
/* .top-sec,.bottom-sec{
    width: 50%;
    
} */
.top-sec img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 140px;
}
.top-sec h1{
    color:  #000000;

    /* background-color: blue; */
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 240px;
    margin-right: 102px;
    font-size: 64px;
    text-align: justify;
    font-weight: 700;

}

.watch-live{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 156px;
    margin-right: 419px;
    margin-top: 27px;
    margin-bottom: 169px;
    border: 1px solid  #f3a514;
    background-color:#f3a514;
    padding: 15px;

  

}
.watch-now{
    text-decoration: none;
    color: #FFFFFF;
    /* margin-left: 156px;
    margin-top: 27px;
    margin-bottom: 169px; */
    /* padding-right:100px ; */
    border: 1px solid  #f3a514;
    background-color:#f3a514;
    padding: 15px;
    margin-left: 182px;
    margin-right: 296px;


}

/* section 2 */





.players{
    display: grid;
    grid-template-columns: repeat(3,440px);
    margin-top: 70px; 
    margin-right: 210px;
    margin-left: 180px;
    
   
}
.player img{
    width: 300px;
    height: 256px;
    margin: 20px ;
}
.item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 350px;
    height:600px;
    padding: 15px;
    margin: 30px ;

}
.bottom-sec img{
    width: 567px;
    height: 427px;
    /* left: 717px;
    top: 2889px; */
    margin-top: 67px;
}
.bottom-sec h1{
    color:  #000000;

    /* background-color: blue; */
    /* margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 240px; */
    font-size: 64px;
    text-align: justify;
    font-weight: 700;
    margin-left: 182px;
    margin-right: 66px;
    

}
.bottom-sec p{
    font-size: 16px;
    margin-left: 182px;
    margin-right: 66px;
}
.logo img{
    width: 227.82px;
    height: 67.42px;
}
.footer{
    width: 483.87px;
    height: 213px;
    text-align: center;
    margin-left: 483.13px;
    margin-right: 475px;
    margin-bottom: 63px;
    margin-top: 158px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.icon{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:156px ;
    margin-right: 156px;
}
.logo-des{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 123px;
    margin-right: 123px;
}