
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.top-sec{
    background-color: rgb(13, 4, 146);
    /* width: 1690px; */
}
.top-sec,.bottom-sec{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.top-sec img{
    width: 350px;
    height: 350px;
    margin-top: 153px;
    /* margin-bottom: 86px; */
    /* margin-right: 140px; */
}
.top-sec-heading{
    color:  #000000;
    margin-top: 207px;
    margin-left: 156px;
    /* margin-bottom: 240px; */
    margin-right: 102px;
    font-size: 40px;
    /* text-align: justify; */
    font-weight: 700;

}
.watch-live{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 156px;
    /* margin-right: 419px; */
    /* margin-top: 27px; */
    /* margin-bottom: 169px; */
    border: 1px solid  #f3a514;
    background-color:#f3a514;
    padding: 5px;

  

}
.watch-now{
    text-decoration: none;
    color: #FFFFFF;
    /* margin-left: 156px;
    margin-top: 27px;
    margin-bottom: 169px; */
    /* padding-right:100px ; */
    border: 1px solid  #f3a514;
    background-color:#f3a514;
    padding: 5px;
    margin-left: 182px;
    /* margin-right: 296px; */
}
.players{
    display: grid;
    grid-template-columns: repeat(3,300px);
    margin-top: 70px; 
    /* margin-right: 210px; */
    margin-left: 80px;
      
}
.player img{
    width: 200px;
    height: 256px;
    margin: 20px ;
}
.item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 250px;
    height:600px;
    padding: 10px;
    margin: 30px ;

}
.bottom-sec img{
    width: 400px;
    height: 407px;
    margin-top: 67px;
   
}
.bottom-sec h1{
    color:  #000000;
    font-size: 40px;
    /* text-align: justify; */
    font-weight: 700;
    margin-left: 182px;
    margin-right: 66px;
    margin-bottom: 0;
    margin-top: 100px;
}
.bottom-sec p{
    font-size: 11px;
    margin-left: 182px;
    margin-right: 66px;
}
.footer{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-left: 40px;
    /* margin-right: 475px; */
    margin-bottom: 63px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
.logo img{
    width: 200px;
    height: 67.42px;
    
}
.icon{
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-left:80px ;
    margin-right: 100px;
   
}
.logo-des{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 123px;
    margin-right: 123px;
    
}


/* @media only screen and (max-width:688px) {
    .conainer{
      
    }
    .top-sec,.bottom-sec{
        grid-template-columns: repeat(1,696px);

    }
    .players{
        grid-template-columns: repeat(1,440px);
    }
    .item{
        width: 100%;
        text-align: center;
    }
} */

 
@media only screen and (max-width:688px) {
     .conainer{
        /* height: 1000px; */
        text-align: center;
       
        background-color: rgb(13, 4, 146);
    } 
    .top-sec{
        width: 200%;
        height: 100%;
    }
    .top-sec img{
        margin-left: 200px;
    }
    .top-sec,.bottom-sec,.footer{
        grid-template-columns: repeat(1,696px);

    }
    .players{
        grid-template-columns: repeat(1,440px);
    }
    .player{
        text-align: center;
    }
  
    .item{
        width: 100%;
        /* height: 100%; */
         text-align: center;
    }
    .footer{
    
        margin-top: 400px;
        text-align: center;
    }
    .bottom-sec-detail{
        margin-right: 100px;
    }
}   
/* tablat divices */
@media only screen and (min-width:688px) and (max-width:992px) {

    .container{
        width: 100%;
        height: 1000px;
    }
    .top-sec,.bottom-sec,.footer{
        grid-template-columns: repeat(1,696px);

    }
    .players{
        grid-template-columns: repeat(2,440px);
    }
    .player{
        text-align: center;
    }
    .item{
        width: 100%;
        /* height: 100%; */
         text-align: center;
    }
    .footer{
    
        margin-top: 400px;
        text-align: center;
    }
    .bottom-sec-detail{
        margin-right: 100px;
    }
}